body {
    font-family: sans-serif;
    padding: 10px;
    
  }
  
  .events-list, .reservation-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .event-card, .reservation-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
  }
  
  @media (min-width: 768px) {
    .events-list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .event-card, .reservation-card {
      width: 48%;
    }
  }
  